@model CalcWin.Views.Calculator.CalculatorViewModel
@{
    ViewData["Title"] = "Calculator";
}

<form class="form-buttons" method="post">
    <div class="row content content-calculator text-center">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <div class="alert alert-danger">
                @ViewData.ModelState["Error"].Errors.First().ErrorMessage
            </div>
        }
        <div class="col-sm-3">
            <div class="well well-result">
                <h2>Fruits</h2>
                <h4>Choose fruits which you would like to use to make wine.</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        @{int i = 0;}
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            <tr>
                                <td class="td-fruits">@ingredient.Fruit.Name</td>
                                <td>
                                    <input type="hidden" name="Ingredients[@i].Fruit.Id" value="@ingredient.Fruit.Id" />
                                    <input type="hidden" name="Ingredients[@i].Fruit.Name" value="@ingredient.Fruit.Name" />
                                    <input type="number" name="Ingredients[@i].Quantity" value="@ingredient.Quantity" class="form-control input-sm" placeholder="Quantity" min="0" step="0.1" />
                                </td>
                            </tr>
                            i++;
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row content">
                <div class="well well-result">
                    <div class="row content">
                        <div class="col-sm-6">
                            <h4>Wine</h4>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Alcohol Quantity:</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                            <input type="number" id="alcoholQuantity" name="SelectedAlcoholQuantity" value="SelectedAlcoholQuantity" class="form-control" placeholder="Quantity" min="0" max="20" step="0.1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Mixture corretion:</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" id="mixtureCorretionCheckbox" aria-label="...">
                                            </span>
                                            <input type="number" id="mixtureCorretionQuantity" name="mixtureCorretionQuantity" class="form-control" placeholder="Quantity" min="0" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Flavor:</label>
                                    <div class="col-sm-8">
                                        <select id="FlavorId" name="SelectedFlavor" class="form-control">
                                            @foreach (var flavor in Model.Flavors)
                                            {
                                                <option id="@flavor.Id" value="@flavor.Id">@flavor.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="well well-result">
                                <h4>Options</h4>
                                <button type="submit" asp-controller="Calculator" asp-action="@MVC.Actions.Calculator.Calculate" class="btn btn-info btn-block">Calculate</button>
                                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#SaveModal">Save</button>
                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#OpenModal">Open</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="row content">
                <div class="well well-result">
                    <h4>Parameters</h4>
                    <div class="row content">
                        <div class="col-sm-6">
                            <div class="well well-result">
                                <p>Mixture</p>
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed">
                                        <tr>
                                            <td>Fruits Quantity</td>
                                            <td>[kg]</td>
                                            <td>@Model.Result.Mixture.FruitsQuantity</td>
                                        </tr>
                                        <tr>
                                            <td>Fruits Mixture</td>
                                            <td>[l]</td>
                                            <td>@Model.Result.Mixture.FruitsMixture</td>
                                        </tr>
                                        <tr>
                                            <td>Sugar In Mixture</td>
                                            <td>[g/l]</td>
                                            <td>@Model.Result.Mixture.SugarInMixture</td>
                                        </tr>
                                        <tr>
                                            <td>Acid In Mixture</td>
                                            <td>[g/l]</td>
                                            <td>@Model.Result.Mixture.AcidInMixture</td>
                                        </tr>
                                        <tr>
                                            <td>Juice Quantity</td>
                                            <td>[l]</td>
                                            <td>@Model.Result.Mixture.JuiceQuantity</td>
                                        </tr>
                                        <tr>
                                            <td>Sugar In Juice</td>
                                            <td>[g/l]</td>
                                            <td>@Model.Result.Mixture.SugarInJuice</td>
                                        </tr>
                                        <tr>
                                            <td>Acid In Juice</td>
                                            <td>[g/l]</td>
                                            <td>@Model.Result.Mixture.AcidInJuice</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="well well-result">
                                <p>Wine</p>
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed">
                                        <tr>
                                            <td>Color</td>
                                            <td>[-]</td>
                                            <td>@Model.Result.Wine.Color</td>
                                        </tr>
                                        <tr>
                                            <td>Alcohol</td>
                                            <td>[%]</td>
                                            <td>@Model.Result.Wine.AlcoholQuantity</td>
                                        </tr>
                                        <tr>
                                            <td>Flavor</td>
                                            <td>[-]</td>
                                            <td>@Model.Result.Wine.Flavor</td>
                                        </tr>
                                        <tr>
                                            <td>Quantity</td>
                                            <td>[l]</td>
                                            <td>@Model.Result.Wine.Quantity</td>
                                        </tr>
                                        <tr>
                                            <td>Cost</td>
                                            <td>[PLN]</td>
                                            <td>@Model.Result.Wine.TotalCost</td>
                                        </tr>
                                        <tr>
                                            <td>Cost Per Liter</td>
                                            <td>[PLN/l]</td>
                                            <td>@Model.Result.Wine.CostPerLiter</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="row content">
                <div class="well well-result">
                    <h4>Recipe</h4>
                    <div class="row content">
                        <div class="col-sm-6">
                            <div class="well well-result">
                                <p>Fruits</p>
                                <table class="table table-hover table-condensed">
                                    @foreach (var ingredient in Model.Result.Recipe.Ingredients)
                                    {
                                        <tr>
                                            <td>@ingredient.Fruit.Name</td>
                                            <td>[kg]</td>
                                            <td>@ingredient.Quantity</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="well well-result">
                                <p>Suplements</p>
                                <div class="table-responsive">
                                    <table class="table table-hover table-condensed">
                                        <tr>
                                            <td>Sugar</td>
                                            <td>[g]</td>
                                            <td>@Model.Result.Recipe.Sugar</td>
                                        </tr>
                                        <tr>
                                            <td>Acid</td>
                                            <td>[g]</td>
                                            <td>@Model.Result.Recipe.Acid</td>
                                        </tr>
                                        <tr>
                                            <td>Water</td>
                                            <td>[l]</td>
                                            <td>@Model.Result.Recipe.Water</td>
                                        </tr>
                                        <tr>
                                            <td>Yeast Food</td>
                                            <td>[g]</td>
                                            <td>@Model.Result.Recipe.YeastFood</td>
                                        </tr>
                                        <tr>
                                            <td>Yeast</td>
                                            <td>[g]</td>
                                            <td>@Model.Result.Recipe.Yeast</td>
                                        </tr>
                                        <tr>
                                            <td>Suplements Cost</td>
                                            <td>[PLN]</td>
                                            <td>@Model.Result.Recipe.SuplementsCost</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Save Modal -->
    <div class="modal fade" id="SaveModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save Project</h4>
                </div>
                <div class="modal-body">
                    <p>Project Name:</p>
                    <input id="Name" name="Name" type="text" class="form-control" value="@Model.Name" placeholder="Project Name">
                </div>
                <div class="modal-footer">
                    <button type="submit" asp-controller="Calculator" asp-action="@MVC.Actions.Calculator.Add" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Open Modal -->
<div class="modal fade" id="OpenModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Open Project</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure? You lost ansaved changes!</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Projects" asp-action="@MVC.Actions.Projects.Index" class="btn btn-default">Open</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>