@model Calculator.Models.WineProject
@{
    ViewData["Title"] = "EditProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="container" method="post">
    <div class="well well-projects text-center col-sm-2">
        <h4>Options</h4>
        <button type="submit" asp-controller="Projects" asp-action="Update" class="btn btn-warning btn-block">Save</button>
        <a asp-controller="Projects" asp-action="Index" class="btn btn-primary btn-block">Back</a>
    </div>
    <div class="table-responsive well well-projects text-center col-sm-9">
        <table class="table text-center table-project-edit">
            <thead class="text-center">
                <tr>
                    <th>Name</th>
                    <th>Fruits</th>
                    <th>Quantity [kg]</th>
                    <th>Flavor</th>
                    <th>Alcohol [%]</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input name="Name" placeholder="@Model.Name" class="form-control input-sm" /></td>
                    <td>
                        @foreach (var ingredient in @Model.Ingredients)
                        {
                            <input disabled="disabled" value="@ingredient.Fruit.Name" class="form-control input-sm input-project-edit" />
                        }
                    </td>
                    <td>
                        @{int i = 0;}
                        @foreach (var ingredient in @Model.Ingredients)
                        {
                            <input name="Ingredients[@i].Quantity" placeholder="@ingredient.Quantity" class="form-control input-sm input-project-edit" />
                            i++;
                        }
                    </td>
                    <td><input name="Flavor.Name" placeholder="@Model.Flavor.Name" class="form-control input-sm" /></td>
                    <td><input name="AlcoholQuantity" placeholder="@Model.AlcoholQuantity" class="form-control input-sm" /></td>
                    <td>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>