@model Calculator.Models.WineProject
@{
    ViewData["Title"] = "EditProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="container" method="post">
    <div class="well well-projects text-center col-sm-2">
        <h4>Options</h4>
        <button type="submit" asp-controller="Projects" asp-action="Update" class="btn btn-warning btn-block">Save</button>
        <a asp-controller="Projects" asp-action="Index" class="btn btn-primary btn-block">Back</a>
    </div>
    <div class="table-responsive well well-projects text-center col-sm-9">
        <table class="table text-center table-project-edit">
            <thead class="text-center">
                <tr>
                    <th>Name</th>
                    <th>Fruits</th>
                    <th>Quantity [kg]</th>
                    <th>Flavor</th>
                    <th>Alcohol [%]</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control input-sm" placeholder="@Model.Name" /></td>
                    <td>
                        @foreach (var ingredient in @Model.Ingredients)
                        {
                            <input class="form-control input-sm input-project-edit" placeholder="@ingredient.Fruit.Name" />
                        }
                    </td>
                    <td>
                        @foreach (var ingredient in @Model.Ingredients)
                        {
                            <input class="form-control input-sm input-project-edit" placeholder="@ingredient.Quantity" />
                        }
                    </td>
                    <td><input class="form-control input-sm" placeholder="@Model.Flavor.Name" /></td>
                    <td><input class="form-control input-sm" placeholder="@Model.AlcoholQuantity" /></td>
                    <td>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>