@model CalcWin.Views.Projects.ProjectsViewModel
@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/js/ScrollUp.js")"></script>
    <script>
        $('#ProjectsTable tr').click(function () {
            $(this).find('td input:radio').prop('checked', true);

        })
    </script>
}
@{
    ViewData["Title"] = "Projects";
}

<form class="container" method="get">
    <div class="well well-projects text-center col-sm-3">
        <h4>Options</h4>
        <a asp-controller="Calculator" class="btn btn-info btn-block">New</a>
        <button type="submit" asp-controller="Calculator" asp-action="@MVC.Actions.Calculator.Index" class="btn btn-success btn-block">Open</button>
        <button type="submit" asp-controller="Projects" asp-action="@MVC.Actions.Projects.Edit" class="btn btn-warning btn-block">Edit</button>
        <button type="button" data-toggle="modal" data-target="#DeleteModal" class="btn btn-danger btn-block">Delete</button>
    </div>
    <div class="table-responsive well well-projects text-center col-sm-6">
        <table id="ProjectsTable" class="table table-hover text-center">
            <thead class="text-center">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Fruits</th>
                    <th>Quantity [kg]</th>
                    <th>Flavor</th>
                    <th>Alcohol [%]</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                    <tr>
                        <td class="col-sm-1">
                            <input type="radio" id="Project[@project.Id]" name="ProjectId" value="@project.Id" />
                        </td>
                        <td class="col-sm-2">@project.Name</td>
                        <td class="col-sm-4">
                            @foreach (var ingredient in project.Ingredients)
                            {
                                <p>@ingredient.Fruit.Name</p>
                            }
                        </td>
                        <td class="col-sm-1">
                            @foreach (var ingredient in project.Ingredients)
                            {
                                <p>@ingredient.Quantity</p>
                            }
                        </td>
                        <td class="col-sm-2">@project.Flavor.Name</td>
                        <td class="col-sm-1">@project.AlcoholQuantity</td>
                        <td class="col-sm-2">
                            @project.Date
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a onclick="animateScrollTop(0, 1000)" id="myBtn" class="btn btn-info btn-block" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="DeleteModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Project</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" asp-controller="Projects" asp-action="@MVC.Actions.Projects.Delete" class="btn btn-default">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>